<header class="main-hero">
  <div class="hero-carousel">
    <nav>
      <li><img src="" alt=""></li>
    </nav>
  </div>
  <h1>REV</h1>
</header>
<section class="creatives-link">
  <span><%= link_to 'CREATIVES', controller: 'articles' %></span>
</section>
